[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
django-rest-framework = "*"
django-rest-framework-social-oauth2 = "*"
social-auth-app-django = "*"
pillow = "*"
django-guardian = "*"
python-dotenv = "*"
requests-oauthlib = "*"

[requires]
python_version = "3.7"
