[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
astroid = "*"
certifi = "*"
chardet = "*"
defusedxml = "*"
dj-database-url = "*"
django = "*"
django-braces = "*"
django-cors-headers = "*"
django-guardian = "*"
django-model-utils = "*"
django-notifications-hq = "*"
django-oauth-toolkit = "*"
django-rest-framework = "*"
django-rest-framework-social-oauth2 = "*"
djangorestframework = "*"
gunicorn = "*"
idna = "*"
isort = "*"
joblib = "*"
jsonfield = "*"
lazy-object-proxy = "*"
mccabe = "*"
nltk = "*"
nose = "*"
numpy = "*"
oauthlib = "*"
pandas = "*"
Pillow = "*"
pyjwt = "*"
pylint = "*"
python-dateutil = "*"
python-decouple = "*"
python-dotenv = "*"
python3-openid = "*"
pytz = "*"
requests = "*"
requests-oauthlib = "*"
scikit-learn = "*"
scipy = "*"
six = "*"
sklearn = "*"
social-auth-app-django = "*"
social-auth-core = "*"
sqlparse = "*"
typed-ast = "*"
urllib3 = "*"
whitenoise = "*"
wrapt = "*"

[requires]
python_version = "3.8"
